<%- include("partials/header") %>

<%- include("partials/navigation") %>


<div class="container">
    <h1 class="cl-heading text-center">Students List</h1>
    <br>

    <% if(students == null || students.length < 1) { %>

        <div class="jumbotron">
            <h1 class="display-4">0 Students Registered </h1>
            <p class="lead"> Currently there are no students registered</p>
            <hr class="my-4">
            <a href="/students/addstudent" class="btn general-content-btn add">Add New Student</a>
        </div>

    <% } else { %> 
        <a href="/students/addstudent" class="btn general-content-btn add mb-4">Add Student</a>
        <% students.forEach(function(student) { %>
            <div class="card general-card">
                <h3 class="gc-child"> Name : <%= student.sName %> </h3>
                <h5 class="gc-child"> Id : <%= student.sId %> </h5>
                <h5 class="mb-4 gc-child"> Email: <%= student.email %> </h5>
                <div class="card-nav-box gc-child">
                    <a role="button" href="/students/get/<%=student.sId%>" class="btn btn card-nav-btn more">More</a>
                    <a role="button" href="/students/updatestudent/<%=student.sId%>" class="btn btn card-nav-btn update">Update</a>
                    <a role="button" href="/students/deletestudent/<%=student.sId%>" class="btn btn card-nav-btn delete">Remove</a>
                </div>
            </div>
        <% }) %>

    <% } %>

    

    
</div>

<%- include("partials/footer") %>